PhonebookImportClient/PhonebookImportClient/Connected Services/PhobeboookImportService/PhonebookImportServer.Wcf.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PhonebookImportServer.Wcf" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PhonebookImportServer.Wcf" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="PhonebookRecord">
    <xs:sequence>
      <xs:element name="Company" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element name="Number" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhoneType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Public" type="xs:boolean" />
      <xs:element name="RecordId" type="xs:int" />
      <xs:element minOccurs="0" name="SysCountryId" type="xs:int" />
      <xs:element minOccurs="0" name="SysPhoneYupeId" type="xs:int" />
      <xs:element minOccurs="0" name="Vip" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PhonebookRecord" nillable="true" type="tns:PhonebookRecord" />
  <xs:complexType name="ArrayOfPhonebookRecord">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PhonebookRecord" nillable="true" type="tns:PhonebookRecord" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPhonebookRecord" nillable="true" type="tns:ArrayOfPhonebookRecord" />
</xs:schema>