PhonebookImportClient/PhonebookImportClient/Connected Services/PhobeboookImportService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PhonebookImportServiceImpl" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IPhonebookImportService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/PhonebookImportServer.Business" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/PhonebookImportServer.Wcf" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPhonebookImportService_GetAppName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAppName" />
  </wsdl:message>
  <wsdl:message name="IPhonebookImportService_GetAppName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAppNameResponse" />
  </wsdl:message>
  <wsdl:message name="IPhonebookImportService_ImportContact_InputMessage">
    <wsdl:part name="parameters" element="tns:ImportContact" />
  </wsdl:message>
  <wsdl:message name="IPhonebookImportService_ImportContact_OutputMessage">
    <wsdl:part name="parameters" element="tns:ImportContactResponse" />
  </wsdl:message>
  <wsdl:message name="IPhonebookImportService_ImportContact_ImportRecordResponseErrorFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/PhonebookImportServer.Business" name="detail" element="q1:ImportRecordResponseError" />
  </wsdl:message>
  <wsdl:message name="IPhonebookImportService_ImportContacts_InputMessage">
    <wsdl:part name="parameters" element="tns:ImportContacts" />
  </wsdl:message>
  <wsdl:message name="IPhonebookImportService_ImportContacts_OutputMessage">
    <wsdl:part name="parameters" element="tns:ImportContactsResponse" />
  </wsdl:message>
  <wsdl:message name="IPhonebookImportService_ImportContacts_ImportRecordsResponseErrorFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/PhonebookImportServer.Business" name="detail" element="q2:ImportRecordsResponseError" />
  </wsdl:message>
  <wsdl:portType name="IPhonebookImportService">
    <wsdl:operation name="GetAppName">
      <wsdl:input wsaw:Action="http://tempuri.org/IPhonebookImportService/GetAppName" message="tns:IPhonebookImportService_GetAppName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPhonebookImportService/GetAppNameResponse" message="tns:IPhonebookImportService_GetAppName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ImportContact">
      <wsdl:input wsaw:Action="http://tempuri.org/IPhonebookImportService/ImportContact" message="tns:IPhonebookImportService_ImportContact_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPhonebookImportService/ImportContactResponse" message="tns:IPhonebookImportService_ImportContact_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IPhonebookImportService/ImportContactImportRecordResponseErrorFault" name="ImportRecordResponseErrorFault" message="tns:IPhonebookImportService_ImportContact_ImportRecordResponseErrorFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ImportContacts">
      <wsdl:input wsaw:Action="http://tempuri.org/IPhonebookImportService/ImportContacts" message="tns:IPhonebookImportService_ImportContacts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPhonebookImportService/ImportContactsResponse" message="tns:IPhonebookImportService_ImportContacts_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IPhonebookImportService/ImportContactsImportRecordsResponseErrorFault" name="ImportRecordsResponseErrorFault" message="tns:IPhonebookImportService_ImportContacts_ImportRecordsResponseErrorFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IPhonebookImportService" type="tns:IPhonebookImportService">
    <wsp:PolicyReference URI="#NetTcpBinding_IPhonebookImportService_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="GetAppName">
      <soap12:operation soapAction="http://tempuri.org/IPhonebookImportService/GetAppName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ImportContact">
      <soap12:operation soapAction="http://tempuri.org/IPhonebookImportService/ImportContact" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ImportRecordResponseErrorFault">
        <soap12:fault use="literal" name="ImportRecordResponseErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ImportContacts">
      <soap12:operation soapAction="http://tempuri.org/IPhonebookImportService/ImportContacts" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ImportRecordsResponseErrorFault">
        <soap12:fault use="literal" name="ImportRecordsResponseErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PhonebookImportServiceImpl">
    <wsdl:port name="NetTcpBinding_IPhonebookImportService" binding="tns:NetTcpBinding_IPhonebookImportService">
      <soap12:address location="net.tcp://localhost:1987/SampleServer" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:1987/SampleServer</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>