PhonebookImportClient/PhonebookImportClient/Connected Services/PhobeboookImportService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/PhonebookImportServer.Wcf" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/PhonebookImportServer.Business" />
  <xs:element name="GetAppName">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAppNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAppNameResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportContact">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/PhonebookImportServer.Wcf" minOccurs="0" name="record" nillable="true" type="q1:PhonebookRecord" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportContactResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/PhonebookImportServer.Business" minOccurs="0" name="ImportContactResult" nillable="true" type="q2:ImportRecordResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportContacts">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/PhonebookImportServer.Wcf" minOccurs="0" name="records" nillable="true" type="q3:ArrayOfPhonebookRecord" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportContactsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/PhonebookImportServer.Business" minOccurs="0" name="ImportContactsResult" nillable="true" type="q4:ImportRecordsResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>